<template>
    <h2>This is Alice</h2>
    <button id="say-to-bob">Say to Bob</button>
</template>

<script>
    const { mountBridge, useContract, dispatchEvent } = window.eventbus;
    const host = shadowDocument.host;

    function sayInA(message) {
        console.log("In A:", message);
    }

    mountBridge({
        name: 'ContractA',
        namespace: 'bus',
        events: {
            helloA: { detail: { message: 'string' }, past: "byeA" }
        },
        handlers: {
            helloA: ({ message }) => sayInA(message)
        }
    }, host);

    shadowDocument.querySelector('#say-to-bob').addEventListener("click",
        function (e) {
            console.log("Alice Clicked");
            console.log(window.eventbus);
            window.eventbus.dispatchEvent(new CustomEvent('bus:helloB', { message: "hello" }));
        }
    );
</script>

<style></style>